#
# Make git ignore a bunch of files.
#
*.[od]
*.gcda
*.gcno
*.gcov
*.gch
*Test.xml
coverage.xml
gcovr
cppcheck-result_*.xml
google*
MockAbstract*.h
*Test
*~
html
test_runner.sh
*.doxyfile.log
latex
html
tmp
